// hero
.hero {
  padding-top: 193px;
  padding-bottom: 160px;
  background-color: #FFB8CA;
  @media screen and (max-width: 767px) { 
    height: 502px;
  }
  @media screen and (min-width: 768px) { 
    height: 339px;
  }
}
// main-block
.hero__main-block { 
position: absolute; 
left: 20px;
// padding-right: 82px;
z-index: 3;
@media screen and (min-width: 767px) { 
  left: 34px;
  top:102px;
}
}
.hero__title {
font-family: Titan One;
font-weight: 400;
font-size: 26px;
line-height: 30px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #FFFFFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: 10;
@media screen and (min-width: 767px) { 
  font-size: 22px;
  line-height: 25px;
}
}
.hero__word {
  color: 
  #D41443;
  font-size: 46.32px;
  line-height: 46px;
  z-index: 10;
  @media screen and (min-width: 767px) { 
    font-size: 34px;
line-height: 31px;
  }
}
.hero__links {
   display: flex;
  margin-top: 19px;
  @media screen and (min-width: 767px) { 
    margin-top: 20px;
  }
}
.hero__links-item:first-child {
  margin-right: 8px;
}
.hero__link-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 8px;
  line-height: 10.42px;
  border-radius: 20px;
}
.hero__link-text--pro {
  width: 62.4px;
  height: 24px;
  color: #FFFFFF;
  background: #D41443;
}
.hero__link-text--pro:hover,
.hero__link-text--pro:focus {
  background: #C7133E;
}
.hero__link-text--how {
  width: 82.8px;
  height: 24px;
  color: #D41443;
  background-color: #FFFFFF;
}
.hero__link-text--how:hover,
.hero__link-text--how:focus {
  background: #ECEBEB;
}
.hero__link {
  text-decoration: none;
}
// second-block
  .hero__second-block {
      @media screen and (max-width: 767px) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
        }
  }
  .hero__milk-picture {
position: absolute;
left: 34px;
top: 245px;
  }
  .hero__main-text {
  // display: flex;
  // flex-direction: column;
position: absolute;
left: 154px;
top: 292px;
// top: 292px;
  }
.hero__text {
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  color: #FFFFFF;
}
// .hero__button {
//   background-image: url();
// }
// third-block
.hero__background-circle {
  position: absolute;
  top: 80px;
  background-color: #FFA5BA;
    border-radius: 50%;
    left:36px;
    z-index: 1;
    @media screen and (min-width: 320px) {
width: 346px;
height: 344px;
}
          @media screen and (min-width: 768px) {
width: 324px;
height: 322px;
left: 307px;
top: 31px;
}
                @media screen and (min-width: 1280px) {        
width: 538px;
height: 538px;
}
 }
.hero__ice-cream-picture {
position: absolute;
top: 92px;
left: 117px;
z-index: 2;
@media screen and (min-width: 768px) {
  top: 63px;
  left: 378px;
  }
                  @media screen and (min-width: 1280px) {        
  }
 }
//    fourth-block
.hero__fourth-block {
      @media screen and (max-width: 767px) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
        }
  // display: flex;
  // flex-direction: column; 
  position: absolute;
  top: 94px;
left: 691px;
}
.hero__facilities-item:first-child {
  position: relative;
  width: 43px;
  height: 44px;
margin-bottom: 13px;
margin-left: 8px
}
.hero__facilities-item:last-child {
  position: relative;
  width: 51px;
  height: 43px;
}
.hero__facilities {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
}
.hero__facilities--cafes {
  width: 33px;
}
.hero__facilities--trucks {
  width: 43px;
  text-align: right;
}
.hero__quantity {
  font-family: Titan One;
  font-weight: 400;
font-size: 28px;
line-height: 32px;
letter-spacing: 0.04em;
text-transform: uppercase;
color: #D41443;
}
.hero__facility {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: right; 
  color: #FFFFFF;
}
// fifth-block
.hero__consuming-picture {
  @media screen and (max-width: 767px) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}